<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="efficiëntiePercentage" value="18" />
    <add key="AmountOfPanels" value="18" />
    <add key="PostalCode" value="7255wz" />
    <add key="ApiKey" value="CXPXKNZ85EBSC5VA6TIKIJDKKVVSDIRA" />
    <add key="SiteId" value="1644119" />
  </appSettings>
</configuration>
